@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Speed ko fast karne ke liye 20s -> 10s kar diya */
.animate-scroll {
  display: flex;
  animation: scroll 5s linear infinite;
}

.know-more-btn {
  border-color: #eb0028;
  background-color: transparent !important; /* stays transparent */
  transition: all 0.3s ease;
}
.know-more-btn:hover {
  background-color: #5E1720 !important;
}

